# Multiple Linear Regression on Customer Data

## Agenda

* Business Understanding
* Data Understanding
* Data Preparation
* Exploratory Data Analysis
* Building a Linear Model
* Evaluation

### Business Understanding

#### Problem Statement

A large child education toy company which sells edutainment tablets and gaming systems
both online and in retail stores wanted to analyze the customer data. They are operating
from last few years and maintaining all transactional information data. The given data
‘CustomerData.csv’ is a sample of customer level data extracted and processed for the
analysis from various set of transactional files.

The objectives of today’s activity are :
* Building a regression model to predict the customer revenue based on other factors and understand the influence of other attributes on revenue

### Identify right Error Metrics

##### Error Metrics for Regression

* Mean Absolute Error (MAE):

$$MAE = \dfrac{1}{n}\times|\sum_{i = 1}^{n}y_{i} - \hat{y_{i}}|$$


* Mean Squared Error (MSE):

$$MSE = \dfrac{1}{n}\times(\sum_{i = 1}^{n}y_{i} - \hat{y_{i}})^2$$


* Root Mean Squared Error (RMSE):

$$RMSE = \sqrt{\dfrac{1}{n}\times(\sum_{i = 1}^{n}y_{i} - \hat{y_{i}})^2}$$


* Mean Absolute Percentage Error (MAPE):

$$MAPE = \dfrac{100}{n}\times\mid\dfrac{\sum_{i = 1}^{n}y_{i} - \hat{y_{i}}}{y_{i}}\mid$$

### Create SPARK_HOME and PYLIB env var and update PATH env var¶

In [3]:
import os
import sys
os.environ["SPARK_HOME"] = "/usr/hdp/current/spark2-client"
os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
sys.path.insert(0, os.environ["PYLIB"] + "/py4j-0.10.4-src.zip")
sys.path.insert(0, os.environ["PYLIB"] + "/pyspark.zip")

### ### Initializing Spark

Build __SparkConf__ object 

    Contains information about your application.  


Create __SparkContext__ object 
    
    Tells Spark how to access a cluster. 
    

Create __SparkSession__ object

    The entry point to programming Spark with the Dataset and DataFrame API.

    Used to create DataFrame, register DataFrame as tables and execute SQL over tables etc.

In [4]:
from pyspark.conf import SparkConf
from pyspark import SparkContext
from pyspark.sql import SparkSession

conf = SparkConf().setAppName("Customer Use Case").setMaster('local')
sc = SparkContext(conf=conf)
spark = SparkSession(sc)

#### Loading the required libraries

In [5]:
from pyspark.sql.types import *
from pyspark.sql.functions import *
# from pyspark.sql.functions import isnan, when, count, col, countDistinct

#### Loading the data

In [6]:
## Read data and create a dataframe
data =

### Data Understanding

In [7]:
# Print Schema
data.printSchema()

root
 |-- CustomerID: integer (nullable = true)
 |-- City: integer (nullable = true)
 |-- NoOfChildren: integer (nullable = true)
 |-- MinAgeOfChild: integer (nullable = true)
 |-- MaxAgeOfChild: integer (nullable = true)
 |-- Tenure: integer (nullable = true)
 |-- FrquncyOfPurchase: integer (nullable = true)
 |-- NoOfUnitsPurchased: integer (nullable = true)
 |-- FrequencyOFPlay: integer (nullable = true)
 |-- NoOfGamesPlayed: integer (nullable = true)
 |-- NoOfGamesBought: integer (nullable = true)
 |-- FavoriteChannelOfTransaction: string (nullable = true)
 |-- FavoriteGame: string (nullable = true)
 |-- TotalRevenueGenerated: double (nullable = true)

Total number of Columns and Records

No. of Columns = 14
No. of Records = 3209

See the top rows of the data

+----------+----+------------+-------------+-------------+------+-----------------+------------------+---------------+---------------+---------------+----------------------------+------------+---------------------+
|CustomerID|City|NoOfChildren|MinAgeOfChild|MaxAgeOfChild|Tenure|FrquncyOfPurchase|NoOfUnitsPurchased|FrequencyOFPlay|NoOfGamesPlayed|NoOfGamesBought|FavoriteChannelOfTransaction|FavoriteGame|TotalRevenueGenerated|
+----------+----+------------+-------------+-------------+------+-----------------+------------------+---------------+---------------+---------------+----------------------------+------------+---------------------+
|      1001|   1|           2|            3|            8|   210|               11|                11|           2344|            108|             10|                     Uniform|     Uniform|               107.51|
|      1002|   1|           2|            3|            6|   442|               20|                20|            245|             22|              7|                    Favorite|     Uniform|                382.4|
|      1003|   1|           4|            3|            5|   424|               18|                18|           1059|            130|             18|                    Favorite|     Uniform|               135.01|
+----------+----+------------+-------------+-------------+------+-----------------+------------------+---------------+---------------+---------------+----------------------------+------------+---------------------+
only showing top 3 rows

Shows a quick statistic summary of your data using Describe

+-------+----------------+------------------+------------------+------------------+-----------------+-----------------+-----------------+------------------+------------------+-----------------+------------------+----------------------------+------------+---------------------+
|summary|      CustomerID|              City|      NoOfChildren|     MinAgeOfChild|    MaxAgeOfChild|           Tenure|FrquncyOfPurchase|NoOfUnitsPurchased|   FrequencyOFPlay|  NoOfGamesPlayed|   NoOfGamesBought|FavoriteChannelOfTransaction|FavoriteGame|TotalRevenueGenerated|
+-------+----------------+------------------+------------------+------------------+-----------------+-----------------+-----------------+------------------+------------------+-----------------+------------------+----------------------------+------------+---------------------+
|  count|            3209|              3209|              3209|              3209|             3209|             3209|             3209|              3209|              3209|             3209|              3209|                        3209|        3209|                 3209|
|   mean|          2605.0| 1.114054222499221| 2.128388906201309|4.9607354315986285|7.990651293237769|347.5204113430975|  16.269554378311|14.684013711436585|1568.2078529136802| 93.6279214708632|14.761607977563104|                        null|        null|    168.4771829230288|
| stddev|926.502833239057|0.3179266502109658|1.0350924535316555|3.7141911525693776|8.784084301356664|90.52011823796829|8.441670101163071| 7.182029169207206| 1810.630463829322|88.93637176454973| 8.773909799752934|                        null|        null|    81.79852819468827|
|    min|            1001|                 1|                 1|                 0|                3|              100|                1|                 1|                 0|                0|                 0|                    Favorite|    Favorite|                100.0|
|    max|            4209|                 2|                11|               113|              113|              472|              119|               112|             27829|             1166|               115|                     Uniform|     Uniform|               990.56|
+-------+----------------+------------------+------------------+------------------+-----------------+-----------------+-----------------+------------------+------------------+-----------------+------------------+----------------------------+------------+---------------------+

Display the data type of each of the variable

[('CustomerID', 'int'),
 ('City', 'int'),
 ('NoOfChildren', 'int'),
 ('MinAgeOfChild', 'int'),
 ('MaxAgeOfChild', 'int'),
 ('Tenure', 'int'),
 ('FrquncyOfPurchase', 'int'),
 ('NoOfUnitsPurchased', 'int'),
 ('FrequencyOFPlay', 'int'),
 ('NoOfGamesPlayed', 'int'),
 ('NoOfGamesBought', 'int'),
 ('FavoriteChannelOfTransaction', 'string'),
 ('FavoriteGame', 'string'),
 ('TotalRevenueGenerated', 'double')]

### Data Preparation

#### Observations:
    1. City is interpreted as numeric (which is actually categorical) and FavouriteGame, FavouriteChannelOfTransaction are interpreted as objects.
    2. max age of children is 113 which must be a wrong entry
    3. Summary statistics for CustomerID is not meaningful

So we now change these appropriately i.e, convert city, favourite game and favourite channel to category, exclude customer id from the data for analysis and treat wrong entry records

##### Check and delete CustomerID attribute

3209

In [11]:
# Delete CustomerID attribute

#### Data type conversion 
    Using astype('category') convert 'City', 'FavoriteChannelOfTransaction', 'FavoriteGame' attributes to a categorical data type .

In [12]:
# Creating a list of categorical and numerical features

[('City', 'string'),
 ('NoOfChildren', 'double'),
 ('MinAgeOfChild', 'double'),
 ('MaxAgeOfChild', 'double'),
 ('Tenure', 'double'),
 ('FrquncyOfPurchase', 'double'),
 ('NoOfUnitsPurchased', 'double'),
 ('FrequencyOFPlay', 'double'),
 ('NoOfGamesPlayed', 'double'),
 ('NoOfGamesBought', 'double'),
 ('FavoriteChannelOfTransaction', 'string'),
 ('FavoriteGame', 'string'),
 ('TotalRevenueGenerated', 'double')]

+-------+------------------+------------------+------------------+-----------------+-----------------+-----------------+------------------+------------------+-----------------+------------------+----------------------------+------------+---------------------+
|summary|              City|      NoOfChildren|     MinAgeOfChild|    MaxAgeOfChild|           Tenure|FrquncyOfPurchase|NoOfUnitsPurchased|   FrequencyOFPlay|  NoOfGamesPlayed|   NoOfGamesBought|FavoriteChannelOfTransaction|FavoriteGame|TotalRevenueGenerated|
+-------+------------------+------------------+------------------+-----------------+-----------------+-----------------+------------------+------------------+-----------------+------------------+----------------------------+------------+---------------------+
|  count|              3209|              3209|              3209|             3209|             3209|             3209|              3209|              3209|             3209|              3209|                        3209|        3209|                 3209|
|   mean| 1.114054222499221| 2.128388906201309|4.9607354315986285|7.990651293237769|347.5204113430975|  16.269554378311|14.684013711436585|1568.2078529136802| 93.6279214708632|14.761607977563104|                        null|        null|    168.4771829230288|
| stddev|0.3179266502109658|1.0350924535316555|3.7141911525693776|8.784084301356664|90.52011823796829|8.441670101163071| 7.182029169207206| 1810.630463829322|88.93637176454973| 8.773909799752934|                        null|        null|    81.79852819468827|
|    min|                 1|               1.0|               0.0|              3.0|            100.0|              1.0|               1.0|               0.0|              0.0|               0.0|                    Favorite|    Favorite|                100.0|
|    max|                 2|              11.0|             113.0|            113.0|            472.0|            119.0|             112.0|           27829.0|           1166.0|             115.0|                     Uniform|     Uniform|               990.56|
+-------+------------------+------------------+------------------+-----------------+-----------------+-----------------+------------------+------------------+-----------------+------------------+----------------------------+------------+---------------------+

#### Observe how many records have values 113 for age of children

+----+------------+-------------+-------------+------+-----------------+------------------+---------------+---------------+---------------+----------------------------+------------+---------------------+
|City|NoOfChildren|MinAgeOfChild|MaxAgeOfChild|Tenure|FrquncyOfPurchase|NoOfUnitsPurchased|FrequencyOFPlay|NoOfGamesPlayed|NoOfGamesBought|FavoriteChannelOfTransaction|FavoriteGame|TotalRevenueGenerated|
+----+------------+-------------+-------------+------+-----------------+------------------+---------------+---------------+---------------+----------------------------+------------+---------------------+
|   1|         2.0|          4.0|        113.0| 205.0|             17.0|              17.0|          158.0|           51.0|            8.0|                    Favorite|     Uniform|               218.85|
|   1|         2.0|          3.0|        113.0| 379.0|              6.0|               6.0|          242.0|           32.0|            0.0|                    Favorite|     Uniform|               100.44|
|   1|         2.0|        113.0|        113.0| 436.0|             26.0|              26.0|        10502.0|          562.0|           26.0|                    Favorite|     Uniform|                300.0|
|   1|         3.0|          6.0|        113.0| 286.0|              6.0|               6.0|         2137.0|           72.0|            6.0|                    Favorite|     Uniform|                102.5|
|   1|         2.0|          5.0|        113.0| 202.0|              9.0|               8.0|          483.0|           68.0|            9.0|                    Favorite|     Uniform|                105.0|
|   1|         2.0|          5.0|        113.0| 355.0|             16.0|              16.0|         1700.0|          142.0|           10.0|                    Favorite|     Uniform|                270.0|
|   1|         3.0|          6.0|        113.0| 432.0|             12.0|              12.0|         2261.0|          194.0|           12.0|                    Favorite|     Uniform|                160.0|
|   1|         3.0|          5.0|        113.0| 405.0|             16.0|              14.0|         4438.0|          130.0|           16.0|                     Uniform|     Uniform|                117.5|
|   1|         3.0|          4.0|        113.0| 171.0|             15.0|              11.0|         1728.0|           41.0|           15.0|                    Favorite|     Uniform|                107.5|
|   1|         2.0|          6.0|        113.0| 187.0|             10.0|               9.0|          731.0|           39.0|           10.0|                     Uniform|     Uniform|                115.0|
|   1|         2.0|          4.0|        113.0| 262.0|             10.0|               9.0|          465.0|           36.0|            8.0|                    Favorite|    Favorite|               120.48|
|   1|         2.0|          5.0|        113.0| 207.0|             11.0|              11.0|          376.0|           40.0|           11.0|                    Favorite|     Uniform|                120.0|
|   1|         2.0|          5.0|        113.0| 332.0|             13.0|              13.0|          266.0|           37.0|           13.0|                    Favorite|     Uniform|               127.51|
|   1|         3.0|          3.0|        113.0| 407.0|             26.0|              25.0|         4457.0|          313.0|           24.0|                    Favorite|     Uniform|               212.51|
|   1|         5.0|          5.0|        113.0| 326.0|             10.0|              10.0|         1433.0|           37.0|           10.0|                    Favorite|     Uniform|                120.0|
|   1|         1.0|        113.0|        113.0| 366.0|             32.0|              29.0|         3067.0|          188.0|           32.0|                    Favorite|     Uniform|               378.76|
|   1|         4.0|          5.0|        113.0| 184.0|             27.0|              25.0|          355.0|           74.0|           27.0|                     Uniform|     Uniform|               235.04|
|   1|         6.0|          9.0|        113.0| 436.0|             25.0|              21.0|         1898.0|          260.0|           23.0|                    Favorite|     Uniform|               240.98|
|   1|         1.0|        113.0|        113.0| 419.0|             17.0|              17.0|          610.0|           48.0|           16.0|                    Favorite|     Uniform|               159.99|
|   1|         4.0|          5.0|        113.0| 321.0|             11.0|               9.0|          267.0|           38.0|           11.0|                    Favorite|     Uniform|                172.5|
+----+------------+-------------+-------------+------+-----------------+------------------+---------------+---------------+---------------+----------------------------+------------+---------------------+

Observe how many records have values 113 for age of children

#### Removing outliers

#### Missing Data

pandas primarily uses the value np.nan to represent missing data.

Check for missing value

    is.null() output boolean i.e. if missing value then true else false. 

    sum function counts 'true' thus gives total number of missing values

In [1]:
# Checking for null values at each column

In this case there are no missing values. However if we find any missing values in the data, as a rule of thumb


    If the perticular row/column has more number of missing values then drop that perticular rows/column 
    
        e.g. To drop any rows that have missing data use data.dropna(axis=0, inplace=True) 
        
    Otherwise, impute/fill missing data based on domain knowledge or using imputation techniques
        
        e.g. To fill missing values with mean use data.fillna(data.mean(), inplace=True)

In [ ]:
# The NA values are considered as string values in order to make them null we are comverting the NA values to null values

In [ ]:
data.columns

In [ ]:
data.dtypes

### Train-Test Split

In [ ]:
# Split the data into training and test sets (30% held out for testing)

### Use VectorAssembler to combine a given list of numcolumns into a single vector column.

### Scaling numeric attributes using MinMaxScaler method

1. Scale all the numeric attributes using MinMaxScaler
2. MinMaxScaler transforms a dataset of Vector rows, rescaling each feature to a specific range (often [0, 1]). 
3. MinMaxScaler computes summary statistics on a data set and produces a MinMaxScalerModel.
4. The model can then transform each feature individually such that it is in the given range.

### Covert categorical to numeric: OneHotEncoder, StringIndexer, VectorAssembler,  VectorIndexer

### Defining the pipeline

### Model Building, Tuning and Evaluation

### Linear Regression

In [ ]:
from pyspark.ml.regression import LinearRegression

In [ ]:
# Adding Linear regression model to pipeline
from pyspark.ml import Pipeline

#### Predicting on train and test data

In [ ]:
# Find the error metric - RMSE
from pyspark.ml.evaluation import RegressionEvaluator

### Tuning LR Model

In [ ]:
# Defining the grid parameters and Cross validator

In [ ]:
# Run cross-validation, and choose the best set of parameters.

In [ ]:
# Predicting on train and test data using cross validation model

In [ ]:
# Evaluating the model

##### Correlation between numeric attributes

In [ ]:
Reference:

In [ ]:
https://spark.apache.org/docs/2.3.0/ml-guide.html
https://spark.apache.org/docs/2.3.0/ml-classification-regression.html