## Operators

Like any other programming language, R also provides a similar set of arithematic, comparision and logical operators. We will see some common operators.

### 1. Arithematic operators

- `+` Add
- `-` Subtract
- `*` Multiply
- `/` Divide
- `^` Exponent (Power to)
- `%/%` Integer Division
- `%%` Modulus (Remainder from Division)

In [17]:
5^2
5/2
5%/%2
5%%2

[1] 25

[1] 2.5

[1] 2

[1] 1

### 2. Relational / Comparision operators

- `>` Greater than
- `<` Less than
- `>=` Greater than or equal to
- `<=` Less than or equal to
- `==` equal to
- `!=` not equal to

![](img/r_conditionoperators.png)

In [2]:
2 > 2
2 < 2
2 >= 2
2 <= 2
2 == 2
2 != 2

[1] FALSE

[1] FALSE

[1] TRUE

[1] TRUE

[1] TRUE

[1] FALSE

### 3. Logical operators

It is possible to join multiple condition together using logical operators. Only when the condition as a whole is satisfied the code is executed.


- `&` element wise AND
- `&&` AND
- `|` element wise OR
- `||` OR
- `!` NOT

Operators & and | perform element-wise operation producing result having length of the longer operand. But && and || examines only the first element of the operands resulting into a single length logical vector.

In [26]:
num <- c(55, 4, 400)

num %% 4 == 0 & num %% 10 == 0
num %% 4 == 0 && num %% 10 == 0

num %% 4 == 0 | num %% 10 == 0
num %% 4 == 0 || num %% 10 == 0

!(num %% 4 == 0 | num %% 10 == 0)

[1] FALSE FALSE  TRUE

[1] FALSE

[1] FALSE  TRUE  TRUE

[1] FALSE

[1]  TRUE FALSE FALSE

## Conditional statements

Every programming language provides syntax for conditional statements. These are useful when some part of the code should execute only when a condition is satisfied, else the code portion shouldn't execute or some other portion of code should execute. 

There are 2 types of conditional statements.

1. if condition
2. if-else condition

![](img/r_ifelse.png)

### 1. if condition

In [33]:
num <- 5

if(num > 0){
  print("Positive number")
}

[1] "Positive number"

### 2. if-else condition

In [52]:
num <- -3

if(num > 0){
    print("Positive number")
} else if (num == 0) {
    print("Zero")
} else {
    print("Negative number")
}

[1] "Negative number"

There is a shorter way of implementing if-else which is quite useful with two to 3 conditions. It can be used for any number of conditions but it becomes difficult to read as the conditions increase.

ifelse( condition, do something, do something different )

In [42]:
num <- 3

ifelse( num > 0, "Positive number", ifelse( num == 0 , "Zero", "Negative number") )

[1] "Positive number"

**This also works with vector more than length 1. It will automatically iterate through each element.**

In [47]:
num <- c(-3, 0, 3)

ifelse( num > 0, "Positive number", ifelse( num == 0 , "Zero", "Negative number"))

[1] "Negative number" "Zero"            "Positive number"

GREAT..This is internally running a loop to process each element of the vector. 

**What if we explicitly want to use this looping functionality for code other than if-else??? We will see that next.**

## Loops

Every programming language provides syntax for executing loops. These are useful when some part of the code should execute more than once. 

There are 2 ways of writing loops.

1. For Loop 
2. While Loop

![](img/r_loops.png)

### 1. For Loop

In a for loop, the code gets executed n times. The value of n should be pre-defined and cannot be changed during the execution.

In [51]:
num <- c(-3, 0, 3)

for (n in num) {
  if(n > 0){
      print("Positive number")
  } else if (n == 0) {
      print("Zero")
  } else {
      print("Negative number")
  }
}

[1] "Negative number"
[1] "Zero"
[1] "Positive number"

### 2. While loop

In a while loop, the code gets executed iteratively until a condition is met. It is important to be careful while using while loops because if the condition is not handeled properly within the construct then the loop will run infinitely.

In [58]:
cnt <- 1
num <- c(-3, 0, 3)

while (cnt <= length(num)) {
  
  if(num[cnt] > 0){
      print("Positive number")
  } else if (num[cnt] == 0) {
      print("Zero")
  } else {
      print("Negative number")
  }
  
  cnt = cnt + 1
  
}

[1] "Negative number"
[1] "Zero"
[1] "Positive number"

Sometimes, you might want to break out of the loop intermediately, it can be done using `break` command.

#### Let's say we want to loop for only positive and negative number, and want to break if we get 0.

In [62]:
cnt <- 1
num <- c(-3, 5, -8, 0, 3, -5)

while (cnt <= length(num)) {
  if(num[cnt] > 0){
      print(paste("Positive number : ", num[cnt]))
  } else if (num[cnt] == 0) {
      print(paste("Zero found : Skipping ", length(num) - cnt, "number/s"))
      break
  } else {
      print(paste("Negative number : ", num[cnt]))
  }
  cnt = cnt + 1
}

[1] "Negative number :  -3"
[1] "Positive number :  5"
[1] "Negative number :  -8"
[1] "Zero found : Skipping  2 number/s"

## Looping Functions

We have already seen how to write loops. Now, we will see some looping function that come very handy when a function has to be applied iteratively on an object, without writing a loop explicitly.

There are 6 such functions, together making the apply family. We will look mainly into the two of them which are the ones you will use the most. For others, there are easier way to get the same result, we will see that later.

1. apply
2. lapply

In [11]:
English <- c(50, 85, 90)
Math <- c(38, 65, 65)
Science <- c(75, 75, 80)

df <- data.frame(English, Math, Science, row.names = c('S1', 'S2', 'S3'))
df

   English Math Science
S1 50      38   75
S2 85      65   75
S3 90      65   80


### 1. apply

apply function requires three mandatory arguments.

`apply(X, MARGIN, FUN, ...)`

- `X` array or matrix
- `MARGIN` for a matrix 
    - 1 indicates rows, 
    - 2 indicates columns, 
    - c(1, 2) indicates rows and columns. 
- `FUN` pre-defined (like mean, max, min etc) or user-defined function
- `...` arguments to function

_Apply can return a vector, array or list based on the dimension of value returned from each function call._

- Apply row-wise

In [12]:
apply(df, 1, min)
apply(df, 1, max)
apply(df, 1, mean)

S1 S2 S3
38 65 65

S1 S2 S3
75 85 90

      S1       S2       S3
54.33333 75.00000 78.33333

- Apply column-wise

In [72]:
apply(df, 2, min)
apply(df, 2, max)
apply(df, 2, mean)

   English Math Science
S1 50      38   75
S2 85      65   75
S3 90      65   80

English    Math Science
     90      65      80

 English     Math  Science
75.00000 56.00000 76.66667

### 2. lapply

lapply takes in a vector or list. Any other object is coerced to list internally. As data frame is a collection of similar length list, every list element (column) of the data frame is passed as an argument to the function. So, we don't give the argument '2' explicitly as in apply().

`lapply(X, FUN, ...)`

It always returns a list.

In [14]:
lapply(df, mean)

$English
[1] 75

$Math
[1] 56

$Science
[1] 76.66667

**Can you create a list with different element size and print the length of each element?**

In [85]:
l <- list(a = 1:3, b = c(T, F), c = "Hello")

lapply(l, length)

$a
[1] 3

$b
[1] 2

$c
[1] 1

## User-Defined Functions

We can also write our own function for any functionality that we wish to implement. If a piece of code repeats more than once in your project, always convert it to a function.

This is a very important concept and we will use it often. Let's start with a simple example.

![](img/r_functions.png)

In [97]:
mean(df[1,])

Warning message in mean.default(df[1, ], na.rm = TRUE):
“argument is not numeric or logical: returning NA”

[1] NA

In [88]:
stat <- function(i){
    
  average = mean(i)
  minimum = min(i)
  maximum = max(i)
    
  return(data.frame(minimum, maximum, average))
}

apply(df, 1, stat)

$S1
  minimum maximum  average
1      38      75 54.33333

$S2
  minimum maximum average
1      65      85      75

$S3
  minimum maximum  average
1      65      90 78.33333

Check for every value in the dataframe and if the value is divisible by 2 then divide by 2, otherwise divide by 5

In [98]:
apply(df, c(1, 2), function(x){ ifelse(x %% 2 == 0, x/2, x/5) })

   English Math Science
S1 25      19   15
S2 17      13   15
S3 45      13   40